export TF_VAR_subscription_id=""
export TF_VAR_tenant_id=""
export TF_VAR_repo=""
export TF_VAR_admin_username=""
export TF_VAR_db_password=""
export TF_VAR_administrator_login=$TF_VAR_admin_username
export TF_VAR_administrator_login_password=$TF_VAR_db_password
export TF_VAR_location=""
export LOCATION=$TF_VAR_location
export TF_VAR_resource_group_name=""
export RESOURCE_GROUP_NAME=$TF_VAR_resource_group_name
export STORAGE_ACCOUNT_NAME=tfstatesasoops
export CONTAINER_NAME=tfstatestorage
export ENV=DEFAULT
#export ACCOUNT_KEY=$(az storage account keys list --resource-group $RESOURCE_GROUP_NAME --account-name $STORAGE_ACCOUNT_NAME --query [0].value -o tsv)
export TF_VAR_ssh_key="/home/files/id_rsa.pub"